/* TodoItemPage.css */

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.todo-image-container {
  max-width: 100%;
  overflow: hidden;
  height:500px;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: contain;
}

.todo-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.todo-image:hover {
  transform: scale(1.1);
}

.todo-details {
  max-width: 600px;
  text-align: center;
}

.todo-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.todo-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.todo-info {
  display: flex;
  justify-content: space-around;
}

.todo-info p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .todo-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .todo-details {
    text-align: left;
  }

  .todo-title {
    font-size: 2.5rem;
  }

  .todo-description {
    font-size: 1.2rem;
  }
}
